*{
  padding:0;
  margin:0;
   line-height: 2rem;
  
}
.app{
  display: grid;
  grid-template-rows: auto 1fr auto;
 
}
.header{
  display: flex;
  justify-content: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: solid 1px #c1d1cc ;
  
}
li{
   list-style-type: none;
}
a{
  text-decoration: none;
  
}
.header a{
  padding-left:0.5rem ;
  padding-right:0.5rem;
    color:#495E57;
   
}
 
.header nav{
  display:flex;
  align-items: center;
  justify-content: center;
   
}
.header li{
  flex:0 1 auto;
  padding-top:0.7rem;
  padding-bottom: 0.7rem;
}
 
.header img{
  width:20%;
  padding:1rem;
  display: inline;
   
}
.header nav{
  width:60vw;
}
.footer img{
  padding: 1rem;
}
.footer {

  padding: 1rem;
  background-color:#495E57;;
  display:flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  color: white;
   
}
.footer a{
  color: white;
}
.footer div{
padding:0.8rem;
}
.footer .ftdiv1{
  align-self: center;
  color: white;
  
}


.footer li:first-of-type{
  font-weight: bold;
  padding-bottom:1rem;

}
.mainhero{
 
 display: flex;
 justify-content: center;
  background-color:#495E57;
 
}
.hero{
 width: 60vw;
display:flex;
flex-direction: row;
align-items: center;
 
 
 color:white;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 padding-top:1rem;
 padding-bottom: 1rem;
 
}
.imgsec{
display: flex;
justify-content: center;
}
.hero section{
  flex:1;
  
   
 
}
.hero h4{
  padding-bottom: 1rem;
}
.hero p{
  
  padding-bottom: 1rem;
}

.hero h2{
padding-bottom: 0.5rem;
color:#F4Ce14;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hero img{
  width:8rem;
  border-radius: 12px;
  color:#495E57;
}

.hero button{
  padding:0.5rem 0.8rem;
  background-color:#F4Ce14;
  color:#495E57;
  border-radius: 16px;
  border:none;

}


 .highlights{
  display:flex;
  flex-direction: column;
  
  width: 60vw;
 }
 .highlights section{
  display: flex;
  padding-top:1rem;
  padding-bottom: 1rem;
   
   
 }
 .highlights button{
  padding:0.7rem 1rem;
  background-color:#F4Ce14;
  color:#495E57;
  border-radius: 16px;
  border:none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
 }
 .highlights .group{
  display: flex;
  
 }
 .highlights .sec1{
  justify-content: space-between;
 }
 .highlights h2{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .highlights .sec2h{
 
  overflow-x:auto;
  
 }
.sec2h::-webkit-scrollbar{
  display: none;
}
 .card{
 color:#333333;
   width:12rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding:0.5rem;
 }
 .card .sec1{
  
  padding:0;
  
 }
 .card .div1,.p2{
  font-weight: bold;
 }
  
 .card .sec2 {
  
  display: flex;
  flex-direction: column;
   background-color:#dde3e1;
   padding-left: 0.4rem;
   padding-right: 0.4rem;
    
 }
 .card .sec2 div{
  display: flex;
  justify-content: space-between;
   
 }
 .card .sec2 p{
  padding-bottom: 0.5rem;
  line-height: 1.4rem;
 }
 .card img{
  border-top-left-radius:12px;
  border-top-right-radius: 12px;
  width: 12rem;
 }
 .mainhighlights{
  display: flex;
  align-items: center;
  justify-content: center;
  
 }

 .test{
  display:flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 align-items: center;
 padding-top:4rem;
 padding-bottom: 5rem;
 
 width:60vw;
 }
 .testgroup{
   display:flex;
 }
.testcard img{
  width:2em;
  padding-left: 1.5rem;
}
.testcard div{
   display:flex;
   
}
.testcard p{
  padding:0.6rem;
}
.test h2{
  padding-bottom: 2rem;
  color: white;
}
 .testcard{
  display: flex;
  flex-direction: column;
  align-items: center;
  
   flex:1;
   background-color: beige;
    margin: 1rem;
 }
.maintest{
 display:flex;
 justify-content: center;
 align-items: center;
background-color:#495E57;
}

.mainabout{
  display: flex;
  justify-content: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about{
  display: flex;
  color:#333333;
  width:60vw;
  padding-top:2rem;
  padding-bottom: 3rem;
}
.about h1{
  padding-top: 1rem;
  padding-bottom: 0.8rem;
}
.about h3{
  padding-bottom: 0.5rem;
}
.about .div2{
display: flex;
    
flex:1;
justify-content: center;
}
.about .div1{
  width:50%;
  flex:1;
}
.about img{
 
  width:10rem;
height: 25vh;
}
.about .img2{
position: relative;
 bottom:1rem;
 right:3rem;
 border:solid 2px;
}

.about .img1{
position:relative;
top:2rem;

}

form{
  
  background-color:#495E57;
  display: flex;
  flex-direction: column;
  width: 200px;
    

  padding:1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:white;
  flex:1;
  max-height: 20rem;
  margin:1rem;
}
.reserve h1{
 color:#495E57;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bookingform{
  flex:1;
}
 form #submit{
  padding:0.1rem;
  margin-top: 1.2rem;
  background-color:#F4Ce14;
  color:#495E57;
  border-radius: 16px;
  border:none;
 
 }
 
 .reserve{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 
  
 height: 85vh;
 }

.confirm{
   
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.confirm h1{
  background-color: #b7fbc7;
  color:#495E57;
  padding:1.5rem;
  border-radius: 12px;
}

.errmsg{
  color: red;
}

button:hover{
  color:white;
  box-shadow: 2px 2px gray;
}
button:active{
  color:#495E57;
}

#submit:hover{
  color:white;
  box-shadow: 2px 2px gray;
}
#submit:active{
  color:#141a18;
 
}

.li:hover{
  background-color: #e0ebe7;
    border-radius: 13px;
}
.li:active{
  color:#F4Ce14;
}
.other{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
@media screen and (max-width:768px) {
   *{
    font-size: 9px;
      line-height: 1.7rem;
}
.hero{
      width:80vw;
    }
    .header a{
  padding-left:0.2rem ;
  padding-right:0.2rem;
   
   
}
.header img{
  width:20%;
  padding:0.8rem
  
}
.card img{
  border-top-left-radius:10px;
  border-top-right-radius: 10px;
  width: 10rem;
 }
 .card{
   
  width:10rem;
  padding:0.3rem;
 }
 .card .sec2 p{
  padding-bottom: 0.3rem;
 }
 .highlights{
  width:80vw;
 }
 .header nav{
  width:80vw;
}
 .test{
  width:80vw;
 }
 .about{
  width:80vw;

 }
 .about img{
 
  width:10rem;
height: 17vh;
}
.testcard img{
  width:2em;
  padding-left: 0.5rem;
}
.testcard{
  
   margin: 0.5rem;
 }
 .testcard p{
  padding:0.5rem;
}
.about h1{
 
  padding-bottom: 0.5rem;
}
form #submit{
  padding:0.3rem;
  margin-top: 1.5rem;
  background-color:#F4Ce14;
  color:#495E57;
  border-radius: 16px;
  border:none;
 
 }
 
}