*{
  padding:0;
  margin:0;
  
}
li{
   list-style-type: none;
}
a{
  text-decoration: none;
}

.header{
  background-color: antiquewhite;

}
.header nav{
  padding-left:0.2rem;
  padding-right:0.2rem
}
.header ul{
  display:flex;
  align-items: center;
  justify-content: center;
   
}
.header li{
  
  padding-top:0.7rem;
  padding-bottom: 0.7rem;
}
.header a{
  padding-left:0.5rem ;
  padding-right:0.5rem;
   
   
}
.header img{
  width:80%;
  padding-left:0.5rem ;
}
.footer {
  background-color:antiquewhite;
  display:flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
   
}
.footer div{
padding:0.8rem;
}
.footer .ftdiv1{
  align-self: center;
  
}


.footer li:first-of-type{
  font-weight: bold;
  padding-bottom:1rem;

}

@media screen and (max-width:780px) {
   *{
    font-size: 10px;
}
}